
/**
General style for the project
 */
.formclass, .resultSet{
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 10px;
}

.resultSet{
    width: 1000px;
}


.title{
    text-align: center;
}

#alertUpdate{
    text-align: center;
}


.box{
    display: flex;
    width: 100%;
    height: 500px;

}

.col-sm{
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 45%;
    border: dimgray solid 2px;
}